<div class="page-container">
  <div class="page-container-header">
    <h3 class="main-heading">Projects</h3>
    <button nz-button nzType="primary" type="submit" (click)="createProject()">Create</button>
  </div>

  @if(!posts().isLoading){
  <div class="card-container" nz-row>
    @for (item of posts().data; track $index) {
    <div class="card-div" nz-col nzSpan="8">
      <nz-card class="card" [nzTitle]="item.name" [nzExtra]="extraTemplate">
        <div class="content">
          <p>Bugs</p>
          <p>2</p>
        </div>
        <div class="content">
          <p>Tasks</p>
          <p> 1</p>
        </div>
        <ng-template #extraTemplate>
          <a nz-dropdown nzTrigger="click" (click)="createCategory(item)">
            Create Category
            <nz-icon nzType=" down" />
          </a>
        </ng-template>
      </nz-card>
    </div>
    }
  </div>
  }

</div>