<div class="section-container">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-label nzRequired>Project Name</nz-form-label>
      <nz-form-control nzErrorTip="Name is required.">
        <input nz-input name="city" formControlName="name" placeholder="Enter Project Name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>
        <nz-form-label nzRequired>Select Users</nz-form-label>
      </nz-form-label>
      <nz-form-control>
        <nz-select class="w-100" nzMode="multiple" [nzPlaceHolder]="'Select Assigne'">
          <nz-option [nzLabel]="'Assigne'" [nzValue]="'Assigne'"></nz-option>
          <nz-option [nzLabel]="'Assigne 1'" [nzValue]="'Assigne 1'"></nz-option>
          <nz-option [nzLabel]="'Assigne 2'" [nzValue]="'Assigne 2'"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button (click)="cancel()">Cancel</button>
  <button nz-button nzType="primary" type="submit"> Save</button>
</div>