<div class="section-container">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-label nzRequired>Project Name</nz-form-label>
      <nz-form-control nzErrorTip="Name is required.">
        <input nz-input name="city" formControlName="name" placeholder="Enter Project Name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Description</nz-form-label>
      <nz-form-control nzErrorTip="Description is required.">
        <input nz-input name="description" formControlName="description" placeholder="Enter Project Name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Select Users</nz-form-label>
      <nz-form-control>
        <nz-select class="w-100" nzMode="multiple" [nzPlaceHolder]="'Select Assigne'" formControlName="users">
          @for (item of users; track $index) {
          <nz-option [nzLabel]="item.fullName" [nzValue]="item._id"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button (click)="cancel()">Cancel</button>
  <button nz-button nzType="primary" type="submit" (click)="submit()"> Save</button>
</div>