<ul nz-menu nzMode="inline" style="width: 240px;" [nzTheme]="theme ? 'dark' : 'light'">
  <li nz-submenu nzOpen nzTitle="PLANING" nzIcon="mail">
    <ul>
      <li nz-menu-group nzTitle="Projects">
        <ul>
          <li nz-menu-item nzSelected [routerLink]="'projects'">Projects</li>
          <li nz-menu-item [routerLink]="'tasks'">Tasks</li>
        </ul>
      </li>
    </ul>
  </li>
  <!-- <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
    <ul>
      <li nz-menu-item>Option 5</li>
      <li nz-menu-item>Option 6</li>
      <li nz-submenu nzTitle="Submenu">
        <ul>
          <li nz-menu-item>Option 7</li>
          <li nz-menu-item>Option 8</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
    <ul>
      <li nz-menu-item>Option 9</li>
      <li nz-menu-item>Option 10</li>
      <li nz-menu-item>Option 11</li>
    </ul>
  </li> -->
</ul>