<div class="menu-container">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzDisabled class="logo-item">
      <nz-icon class="logo" nzType="svg:mtfx" />
    </li>
    <li nz-menu-item>
      <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
        Projects
        <nz-icon nzType="down" />
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <ul>
            <li nz-menu-group nzTitle="Recent">
              <ul>
                <li nz-menu-item nzSelected>Fx Office</li>
              </ul>
            </li>
            <nz-divider></nz-divider>
          </ul>
          <li nz-menu-item [routerLink]="'projects'">View All Projects</li>
          <li nz-menu-item>Create Project</li>
        </ul>
      </nz-dropdown-menu>
    </li>
    <li nz-menu-item class="user-name">
      <a nz-dropdown [nzDropdownMenu]="menu1" nzTrigger="click">
        S
      </a>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <!-- <li nz-menu-item>Profile</li> -->
          <li nz-menu-item (click)="logOut()">Log Out</li>
        </ul>
      </nz-dropdown-menu>
    </li>
  </ul>
</div>